@import "@/styles/variables.module";
@import "@/styles/variables.sun_symphony.module";

.slider {
  position: relative;
  height: 100%;

  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
    align-items: center;
    position: absolute;
    color: #121212;
    z-index: 10;
    width: auto;
    height: auto;
    font-size: 3.5rem;
    top: 50%;
    transform: translateY(-50%);

    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    left: 12px;
  }

  .swiper-button-next {
    right: 12px;
  }

  .slide {
    //  aspect-ratio: 16/9;

    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $light-text-color;
  background: rgba($color: $dark-color, $alpha: 0.7);
  border-radius: 50%;
  padding: 6;
  font-size: 4rem;
}

@media (min-width: $breakpoint-md) {
  .slider {
    .swiper-button-prev,
    .swiper-button-next {
      font-size: 5rem;
    }
  }

  .play-button {
    font-size: 6rem;
  }
}

@media (min-width: $breakpoint-lg) {
  .slider {
    padding: 0;

    .swiper-button-prev,
    .swiper-button-next {
      font-size: 5rem;
    }
  }
}
