@import "@/styles/variables.module";

.project {
  margin: 40px 0 60px 0;

  &-list {
    display: grid;
    grid-gap: 24px;
    align-items: start;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  &-item {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
  }

  &-image {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
  }

  &-title {
    font-size: 1.75rem;
    font-weight: bold;
  }

  &-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &-year {
    font-size: 1.75rem;
    text-align: right;
    font-weight: bold;
    width: min-content;
  }

  .column-one,
  .column-two,
  .column-three {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

@media (min-width: $breakpoint-lg) {
  .project {
    &-list {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .column-one {
      .project-item {
        &:nth-child(2n + 1) {
          .project-image {
            aspect-ratio: 16 / 9;
          }
        }
        &:nth-child(2n + 2) {
          .project-image {
            aspect-ratio: 4/3;
          }
        }
      }
    }

    .column-two {
      .project-item {
        &:nth-child(2n + 1) {
          .project-image {
            aspect-ratio: 4/3;
          }
        }
        &:nth-child(2n + 2) {
          .project-image {
            // aspect-ratio: 16/9;
            aspect-ratio: 4/3;
          }
        }
      }
    }

    .column-three {
      .project-item {
        &:nth-child(2n + 1) {
          .project-image {
            aspect-ratio: 3/4;
          }
        }
        &:nth-child(2n + 2) {
          .project-image {
            aspect-ratio: 4/3;
          }
        }
      }
    }

    &-item {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      width: 100%;
    }
  }
}
