$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1340px;

$background-color: #dcb485;
$primary-color: #4c2113;
$accent-color: #a45c23;
$white-color: #fff;
$dark-color: #000;

$header-height: 72px;

:export {
  breakpointSM: $breakpoint-sm;
  breakpointMD: $breakpoint-md;
  breakpointLG: $breakpoint-lg;
  breakpointXL: $breakpoint-xl;
  breakpoint2XL: $breakpoint-2xl;
}
