$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1340px;

$header-height: 72px;

$primary-color: #09264e;
$secondary-color: #202c46;
$accent-color: #ffcd01;
$white-color: #fff;
$dark-color: #000;

$primary-bg-color: #202c46;
$secondary-bg-color: #09264e;
$light-bg-color: #fff;
$button-bg-color: #ffb200;
$header-bg-color: #272942;

$primary-text-color: #202b46;
$secondary-text-color: #ffb200;
$light-text-color: #fff;
$dark-text-color: #000;
