@import "@/styles/variables.module";
@import "@/styles/variables.sun_symphony.module";

.layout {
  padding: 20px 0;
  background-color: $light-bg-color;

  .heading {
    color: $primary-text-color;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;
  }

  .layout-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0px;
  }

  .layout-item {
    position: relative;
    aspect-ratio: 16 /9;
    width: 100%;
  }
}

@media (min-width: $breakpoint-lg) {
  .layout {
    .heading {
      font-size: 2.5rem;
      line-height: 1.5;
    }

    .layout-item {
      width: calc(50% - 16px);
    }
  }
}
