@import "../../styles/variables";

.feature {
  padding: 20px 0;
  background-image: url("/images/background-section.jpg");

  .heading {
    font-size: 2.25rem;
    color: $primary-text-color;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;
  }

  .feature-content {
    flex: 1;
    padding: 0px 20px 44px 20px;
    position: relative;

    button {
      position: absolute;
      bottom: 0;
      left: 50%;
      background-color: $button-bg-color;
      text-transform: uppercase;
      margin: auto;
      display: block;
      width: 40%;
      border-radius: 999px;
      padding: 8px 12px;
      font-size: 1.75rem;
      font-weight: 600;
      transform-origin: left;
      transform: scale(1) translateX(-50%);
      animation: scaleUp2 1s ease-in-out infinite reverse;
    }
  }

  .feature-title {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .feature-description {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.5;
  }

  .feature-image {
    position: relative;
    aspect-ratio: 16/9;
    height: 100%;
  }

  .feature-item {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 16px;
    gap: 16px;
  }
}

@media (min-width: $breakpoint-lg) {
  .feature {
    .heading {
      font-size: 2.5rem;
      line-height: 1.5;
    }

    .feature-item {
      flex-direction: row;
      gap: 0px;

      &:nth-child(odd) {
        flex-direction: row-reverse;
      }
    }

    .feature-content {
      width: 50%;
      flex-shrink: 0;
      padding: 0px 20px 20px 20px;
    }

    .feature-image {
      height: auto;
      width: 50%;
    }
  }
}

@keyframes scaleUp2 {
  50% {
    transform: scale(1.15) translateX(-50%);
  }
  100% {
    transform: scale(1) translateX(-50%);
  }
}
