@import "@/styles/variables.module";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  padding: 10px 16px;
  border: 1px solid $accent-color;
  color: $accent-color;
  border-radius: 999px;
  background-color: transparent;
  font-weight: 600;
  font-size: 1.625rem;

  &.lg {
    min-height: 44px;
    padding: 12px 20px;
    font-size: 2rem;
  }
}
