@import "@/styles/variables.module";
@import "@/styles/variables.sun_symphony.module";

.infrastructure {
  padding: 32px 0;
  background-color: $secondary-bg-color;

  .heading {
    color: $light-text-color;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &-assets {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 14px;

    .assets-file {
      aspect-ratio: 3.5;
      width: 100%;
      position: relative;
      margin-bottom: 16px;
    }

    .assets-image {
      aspect-ratio: 9/16;
      position: relative;
      width: calc(33.333% - 10px);
    }
  }

  &-form {
    border: 10px solid $white-color;
    padding: 20px 16px;
    border-radius: 20px;

    h3 {
      color: $light-text-color;
      font-weight: bold;
      font-size: 1.75rem;
      line-height: 1.5;
      text-align: center;
      margin-bottom: 12px;
    }

    p {
      color: $accent-color;
      font-size: 1.75rem;
      font-weight: normal;
      line-height: 1.5;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 24px;
      margin-bottom: 32px;

      .form-control {
        width: 100%;
        height: 40px;
        background-color: $light-bg-color;
        font-size: 1.5rem;
        padding: 12px;
      }

      button {
        background-color: $button-bg-color;
        font-size: 1.75rem;
        font-weight: 600;
        padding: 10px 12px;
        text-transform: uppercase;
      }
    }
  }

  &-notice {
    display: flex;
    flex-direction: column;
    gap: 6px;
    line-height: 1.5;
    font-size: 1.5rem;
    color: $light-text-color;
  }
}

@media (min-width: $breakpoint-lg) {
  .infrastructure {
    .heading {
      font-size: 2.5rem;
      line-height: 1.5;
    }

    &-content {
      flex-direction: row;
      justify-content: space-between;
    }

    &-assets {
      gap: 18px;
      width: 50%;

      .assets-file {
        margin-bottom: 24px;
      }

      .assets-image {
        width: calc(33.333% - 12px);
      }
    }

    &-form {
      width: 555px;

      h3 {
        font-size: 2rem;
      }

      p {
        font-size: 2.25rem;
        line-height: 1.5;
      }

      button {
        font-size: 2rem;
      }
    }

    &-notice {
      line-height: 1.5;
      font-size: 1.75rem;
    }
  }
}
