@import "@/styles/variables.fpt_plaza_3.module";

.heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid $border-color;
  margin-bottom: 32px;
}

.title {
  font-size: 1.625rem;
  text-transform: uppercase;
  font-weight: 500;
}
