@import "../../app/variables";

.collection {
  padding: 0 24px;
  background-color: $primary-bg-color;
}

.collection-content {
  position: relative;
}

.title {
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 0px;

  background-image: linear-gradient(136deg, $accent-color, #eaedee00);
  padding: 16px;
  color: white;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
}

.collection-slider {
  aspect-ratio: 16/9;
}

@media (min-width: $breakpoint-md) {
  .collection-slider {
    aspect-ratio: 4/3;
  }
}

@media (min-width: $breakpoint-lg) {
  .title {
    top: 60px;
    left: 120px;
    font-size: 2.25rem;
  }

  .collection-slider {
    aspect-ratio: unset;
    height: calc(100vh - 72px);
  }
}
