@import "../../styles/variables";

.banner-slider {
  aspect-ratio: 16/9;
}

@media (min-width: $breakpoint-md) {
  .banner-slider {
    aspect-ratio: 4/3;
  }
}

@media (min-width: $breakpoint-lg) {
  .banner-slider {
    aspect-ratio: unset;
    //  height: calc(100vh - 72px);
    height: calc(90vh - 72px);
  }
}
