@import "../../styles/variables";

.slider {
  position: relative;
  height: 100%;

  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #121212;
    z-index: 10;
    width: auto;
    height: auto;
    font-size: 3.5rem;
    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    left: 12;
  }

  .swiper-button-next {
    right: 12;
  }

  .slide {
    //  aspect-ratio: 16/9;

    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .slider {
    .slide {
      // aspect-ratio: 4/3;
    }

    .swiper-button-prev,
    .swiper-button-next {
      font-size: 5rem;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .slider {
    padding: 0;

    .slide {
      // height: calc(100vh - 72px);
    }

    .swiper-button-prev,
    .swiper-button-next {
      font-size: 5rem;
    }
  }
}
